[Desktop Entry]
Type=Application
Name=vopono GUI
Comment=Launch applications through vopono VPN namespaces
Exec=vopono-gui
TryExec=vopono-gui
Icon=vopono-gui
Terminal=false
Categories=Network;
StartupNotify=true
StartupWMClass=vopono-gui
